.portret-window{
  height: 100svh;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.rotate-phone-text{
  color: white;
  font-family: Regular;
}

.projectx {
    margin: 0;
    overflow: hidden; /* Prevent vertical scrolling */
    max-height: 100svh;
  }
  
  .scroll-container {
    width: 100vw; /* Adjust to your needs */
    height: 100vh; /* Full viewport height */
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .scroll-container img {
    width: auto;
    height: 100%;
    object-fit: cover;
  }
  
  @media (max-width: 767px) {
    .scroll-container {
      overflow-x: auto;
      white-space: nowrap;
    }
    .slike{
      position: absolute;
      bottom: 20px;
      left: 50px;
      width: 300px;
      height: 50px;
      overflow:auto;
      white-space: nowrap;
      overflow-y: hidden;
    }
  }

 
  .slike{
    position: absolute;
    bottom: 20px;
    left: 50px;
  }

  .slikelink{
    font-family: Regular;
    display: inline-block;
  background-color: #eeeeee;
  color: #131313;
  text-align: center;
  width: 100px;
  height: 40px;
  border: 0;
  border-radius: 20px;
  text-decoration: none;
  margin-right: 10px;

  cursor: pointer;
  }