.portret-window{
  height: 100svh;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.rotate-phone-text{
  color: white;
  font-family: Regular;
}

.projectx {
    margin: 0;
    overflow: hidden; /* Prevent vertical scrolling */
    max-height: 100svh;
  }
  
  .scroll-container {
    width: 100vw; /* Adjust to your needs */
    height: 100vh; /* Full viewport height */
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .scroll-container img {
    width: auto;
    height: 100%;
    object-fit: cover;
  }
  
  @media (max-width: 767px) {
    .scroll-container {
      overflow-x: auto;
      white-space: nowrap;
    }
  }

  .rotate-phone-text{

  }
  